# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Node
node_modules/
package-lock.json

# Processed Files & Storage Volumes
uploads/
cloned_repos/
downloads/
temp/

# IDE & OS Variables
.DS_Store
.idea
.vscode/

# Build caches & Coverages
build/
coverage/
.clinic/

# Environment Variables
.env
.env.production
.env.development
.env.test
